/* Font Imports */
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

body {
  @apply bg-white text-gray-800 font-lato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: -0.5px;
}
